langchain
langchain-core
langchain-huggingface
langchain-groq
langchain-community
transformers
accelerate
bitsandbytes
torch
torchvision
faiss-cpu
requests
pydantic
python-dotenv
streamlit
plotly
ddgs
huggingface_hub
langsmith
sentence-transformers
pytest
